In [1]:
import pandas as pd
import numpy as np
import traceback,requests
from datetime import datetime,timedelta
from time import sleep
import warnings
import urllib.parse
warnings.filterwarnings('ignore')

In [2]:
# URL of the compressed CSV file containing market quotes
fileUrl ='https://assets.upstox.com/market-quote/instruments/exchange/complete.csv.gz'
symboldf = pd.read_csv(fileUrl)
symboldf

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
0,NSE_INDEX|Nifty 50,17.0,NaN,Nifty 50,24717.70,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
1,NSE_INDEX|NIFTY100 EQL Wgt,NaN,NaN,NIFTY100 EQL Wgt,33981.90,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
2,NSE_INDEX|NIFTY50 EQL Wgt,NaN,NaN,NIFTY50 EQL Wgt,31587.15,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
3,NSE_INDEX|NiftyM150Momntm50,NaN,NaN,NiftyM150Momntm50,64203.20,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
4,NSE_INDEX|Nifty Auto,48.0,NaN,Nifty Auto,25714.45,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
...,...,...,...,...,...,...,...,...,...,...,...,...
80103,BCD_FO|2102535,2102535.0,GBPINR24913112.25PE,GBPINR,0.00,2024-09-13,112.25,0.25,1.0,FUTCUR,FF,BCD_FO
80104,BCD_FO|2102544,2102544.0,JPYINR2492051.25CE,JPYINR,0.00,2024-09-20,51.25,0.25,1.0,FUTCUR,FF,BCD_FO
80105,BCD_FO|2102578,2102578.0,EURINR2492087CE,EURINR,0.00,2024-09-20,87.00,0.25,1.0,FUTCUR,FF,BCD_FO
80106,BCD_FO|2102603,2102603.0,GBPINR24920112PE,GBPINR,0.00,2024-09-20,112.00,0.25,1.0,FUTCUR,FF,BCD_FO
80107,BCD_FO|2102607,2102607.0,GBPINR24920110.5CE,GBPINR,0.00,2024-09-20,110.50,0.25,1.0,FUTCUR,FF,BCD_FO

In [3]:
# Filter the DataFrame to include only index instruments

indexdf = symboldf[symboldf.instrument_type == 'INDEX']
indexdf

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
0,NSE_INDEX|Nifty 50,17.0,NaN,Nifty 50,24717.70,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
1,NSE_INDEX|NIFTY100 EQL Wgt,NaN,NaN,NIFTY100 EQL Wgt,33981.90,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
2,NSE_INDEX|NIFTY50 EQL Wgt,NaN,NaN,NIFTY50 EQL Wgt,31587.15,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
3,NSE_INDEX|NiftyM150Momntm50,NaN,NaN,NiftyM150Momntm50,64203.20,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
4,NSE_INDEX|Nifty Auto,48.0,NaN,Nifty Auto,25714.45,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
...,...,...,...,...,...,...,...,...,...,...,...,...
54461,BSE_INDEX|BSEIT,34.0,NaN,BSEIT,40630.67,NaN,NaN,NaN,NaN,INDEX,NaN,BSE_INDEX
54462,BSE_INDEX|INFRA,28.0,NaN,INFRA,735.63,NaN,NaN,NaN,NaN,INDEX,NaN,BSE_INDEX
54463,BSE_INDEX|METAL,14.0,NaN,METAL,31900.33,NaN,NaN,NaN,NaN,INDEX,NaN,BSE_INDEX
54464,BSE_INDEX|BSEPSU,10.0,NaN,BSEPSU,22409.13,NaN,NaN,NaN,NaN,INDEX,NaN,BSE_INDEX
54465,BSE_INDEX|SENSEX50,47.0,NaN,SENSEX50,25958.38,NaN,NaN,NaN,NaN,INDEX,NaN,BSE_INDEX

In [4]:
# Display first 40 records

indexdf[:40]

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
0,NSE_INDEX|Nifty 50,17.0,NaN,Nifty 50,24717.70,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
1,NSE_INDEX|NIFTY100 EQL Wgt,NaN,NaN,NIFTY100 EQL Wgt,33981.90,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
2,NSE_INDEX|NIFTY50 EQL Wgt,NaN,NaN,NIFTY50 EQL Wgt,31587.15,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
3,NSE_INDEX|NiftyM150Momntm50,NaN,NaN,NiftyM150Momntm50,64203.20,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
4,NSE_INDEX|Nifty Auto,48.0,NaN,Nifty Auto,25714.45,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
5,NSE_INDEX|Nifty Commodities,5.0,NaN,Nifty Commodities,9525.70,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
6,NSE_INDEX|Nifty Mid Liq 15,31.0,NaN,Nifty Mid Liq 15,13507.15,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
7,NSE_INDEX|Nifty GS 10Yr Cln,24.0,NaN,Nifty GS 10Yr Cln,884.13,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
8,NSE_INDEX|NIFTY TOTAL MKT,NaN,NaN,NIFTY TOTAL MKT,13104.35,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
9,NSE_INDEX|Nifty Serv Sector,30.0,NaN,Nifty Serv Sector,31439.80,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
10,NSE_INDEX|Nifty100 Liq 15,21.0,NaN,Nifty100 Liq 15,6869.15,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
11,NSE_INDEX|Nifty Bank,28.0,NaN,Nifty Bank,51350.15,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
12,NSE_INDEX|Nifty Next 50,20.0,NaN,Nifty Next 50,73328.15,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
13,NSE_INDEX|NIFTY AlphaLowVol,NaN,NaN,NIFTY AlphaLowVol,29546.15,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
14,NSE_INDEX|Nifty Energy,11.0,NaN,Nifty Energy,44334.25,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
15,NSE_INDEX|Nifty Div Opps 50,25.0,NaN,Nifty Div Opps 50,6704.65,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
16,NSE_INDEX|NIFTY SMLCAP 50,NaN,NaN,NIFTY SMLCAP 50,8774.95,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
17,NSE_INDEX|Nifty PSE,16.0,NaN,Nifty PSE,11530.30,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
18,NSE_INDEX|NIFTY M150 QLTY50,NaN,NaN,NIFTY M150 QLTY50,25024.40,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
19,NSE_INDEX|NIFTY100 LowVol30,NaN,NaN,NIFTY100 LowVol30,20074.90,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
20,NSE_INDEX|Nifty200Momentm30,NaN,NaN,Nifty200Momentm30,35950.70,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
21,NSE_INDEX|Nifty100ESGSecLdr,NaN,NaN,Nifty100ESGSecLdr,4114.35,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
22,NSE_INDEX|Nifty GS 10Yr,12.0,NaN,Nifty GS 10Yr,2363.50,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
23,NSE_INDEX|NIFTY Alpha 50,NaN,NaN,NIFTY Alpha 50,58809.90,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
24,NSE_INDEX|Nifty 500,7.0,NaN,Nifty 500,23259.45,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
25,NSE_INDEX|Nifty Realty,18.0,NaN,Nifty Realty,1037.15,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
26,NSE_INDEX|NIFTY INDIA MFG,NaN,NaN,NIFTY INDIA MFG,14851.60,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
27,NSE_INDEX|NIFTY200 QUALTY30,NaN,NaN,NIFTY200 QUALTY30,21931.00,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
28,NSE_INDEX|Nifty GrowSect 15,35.0,NaN,Nifty GrowSect 15,12146.10,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
29,NSE_INDEX|NIFTY100 ESG,NaN,NaN,NIFTY100 ESG,4936.80,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
30,NSE_INDEX|Nifty GS 8 13Yr,45.0,NaN,Nifty GS 8 13Yr,2667.76,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
31,NSE_INDEX|Nifty Infra,36.0,NaN,Nifty Infra,9379.05,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
32,NSE_INDEX|NIFTY SMLCAP 250,NaN,NaN,NIFTY SMLCAP 250,17677.65,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
33,NSE_INDEX|Nifty50 PR 1x Inv,6.0,NaN,Nifty50 PR 1x Inv,198.50,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
34,NSE_INDEX|NIFTY MIDCAP 100,NaN,NaN,NIFTY MIDCAP 100,57913.65,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
35,NSE_INDEX|Nifty FinSrv25 50,NaN,NaN,Nifty FinSrv25 50,25725.50,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
36,NSE_INDEX|NIFTY CONSR DURBL,NaN,NaN,NIFTY CONSR DURBL,39237.20,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
37,NSE_INDEX|India VIX,43.0,NaN,India VIX,14.32,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
38,NSE_INDEX|Nifty Pharma,47.0,NaN,Nifty Pharma,21902.85,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX
39,NSE_INDEX|NIFTY MIDCAP 150,NaN,NaN,NIFTY MIDCAP 150,21492.25,NaN,NaN,NaN,NaN,INDEX,NaN,NSE_INDEX

### Get historical data for desired indices using
https://www.nseindia.com/market-data/live-equity-market

In [5]:
#stockDF = pd.read_csv("niftyRealty.csv")

stockDF = pd.read_csv("MW-NIFTY-PHARMA-05-Aug-2024.csv") #Read the Pharma CSV file dwonloaded from above link
stockDF

,SYMBOL \n,OPEN \n,HIGH \n,LOW \n,PREV. CLOSE \n,LTP \n,CHNG \n,%CHNG \n,VOLUME \n(shares),VALUE \n (â‚¹ Crores),52W H \n,52W L \n,30 D %CHNG \n,365 D % CHNG \n 03-Aug-2023
0,NIFTY PHARMA,"21,620.40","22,005.10","21,528.65","21,790.35","21,902.85",112.50,0.52,"2,35,37,250","3,419.46","22,005.10","14,544.25",9.98,45.06
1,GRANULES,626.25,649.90,622.10,631.50,645.00,13.50,2.14,"40,20,175",258.14,649.90,287.70,29.17,103.05
2,DIVISLAB,"4,861.70","5,010.00","4,839.10","4,917.90","4,973.05",85.15,1.74,"9,60,970",476.12,"5,010.00","3,295.30",9.48,33.95
3,DRREDDY,"6,881.00","6,981.00","6,874.45","6,887.95","6,945.70",57.75,0.84,"4,41,989",306.87,"6,981.00","5,205.55",8.38,23.05
4,SUNPHARMA,"1,700.00","1,741.80","1,683.85","1,715.20","1,729.00",13.80,0.80,"29,92,406",515.28,"1,746.45","1,068.35",12.89,51.77
5,ZYDUSLIFE,"1,233.45","1,259.75","1,227.70","1,241.40","1,250.00",8.60,0.69,"11,10,657",139.05,"1,265.00",567.75,14.12,95.30
6,ALKEM,"5,200.00","5,344.45","5,200.00","5,271.30","5,306.00",34.70,0.66,"82,865",43.85,"5,578.80","3,447.00",6.54,31.62
7,JBCHEPHARM,"1,896.00","1,962.00","1,894.25","1,912.55","1,924.00",11.45,0.60,"1,94,311",37.58,"1,963.20","1,232.15",6.77,-24.70
8,TORNTPHARM,"3,190.00","3,275.50","3,179.40","3,205.00","3,223.55",18.55,0.58,"6,47,028",209.44,"3,275.50","1,772.05",13.77,61.74
9,AUROPHARMA,"1,422.10","1,450.80","1,419.05","1,432.85","1,438.00",5.15,0.36,"11,87,900",170.99,"1,450.80",805.65,16.51,71.75
10,BIOCON,350.15,362.70,348.05,354.75,356.00,1.25,0.35,"38,28,727",136.20,376.80,217.50,-1.48,39.89
11,GLENMARK,"1,436.00","1,452.35","1,415.05","1,437.70","1,442.00",4.30,0.30,"4,92,863",70.99,"1,479.40",722.10,12.58,82.17
12,LUPIN,"1,949.50","1,984.00","1,935.00","1,953.35","1,958.35",5.00,0.26,"20,18,905",396.93,"1,984.00",975.00,20.29,89.45
13,NATCOPHARM,"1,349.05","1,372.45","1,332.00","1,362.00","1,362.70",0.70,0.05,"5,91,168",80.37,"1,384.00",724.20,12.37,69.42
14,GLAND,"2,088.00","2,147.00","2,073.50","2,123.65","2,123.00",-0.65,-0.03,"1,91,983",40.93,"2,194.00","1,265.65",17.48,60.02
15,MANKIND,"1,988.00","2,008.55","1,960.25","2,004.75","2,001.05",-3.70,-0.18,"5,78,999",115.20,"2,490.00","1,683.05",-6.52,5.37
16,SANOFI,"6,585.00","6,643.90","6,545.00","6,593.90","6,580.00",-13.90,-0.21,"6,636",4.36,"10,524.95","5,892.80",-0.27,-4.54
17,IPCALAB,"1,288.60","1,313.15","1,280.05","1,304.80","1,302.00",-2.80,-0.21,"7,14,731",92.94,"1,374.60",847.30,12.73,45.36
18,CIPLA,"1,529.00","1,541.40","1,523.70","1,546.20","1,526.00",-7.20,-0.47,"13,53,707",207.35,"1,600.00","1,132.00",3.04,31.13
19,ABBOTINDIA,"28,387.00","28,702.95","27,940.00","28,387.40","28,244.30",-143.10,-0.50,"7,719",21.95,"29,638.95","22,000.00",2.28,14.95
20,LAURUSLABS,445.00,453.60,437.00,451.75,448.45,-3.30,-0.73,"21,13,511",94.93,484.30,349.40,2.33,16.33

In [6]:
# Further filter the DataFrame to include only the stocks name in the stock list

stockList = stockDF.iloc[:,0].tolist()[1:]
stockList

['GRANULES',
 'DIVISLAB',
 'DRREDDY',
 'SUNPHARMA',
 'ZYDUSLIFE',
 'ALKEM',
 'JBCHEPHARM',
 'TORNTPHARM',
 'AUROPHARMA',
 'BIOCON',
 'GLENMARK',
 'LUPIN',
 'NATCOPHARM',
 'GLAND',
 'MANKIND',
 'SANOFI',
 'IPCALAB',
 'CIPLA',
 'ABBOTINDIA',
 'LAURUSLABS']

In [7]:
# Convert the 'expiry' column to datetime format and extract the date part
symboldf['expiry'] = pd.to_datetime(symboldf['expiry']).apply(lambda x: x.date())

# Filter the DataFrame to include only rows
symboldf = symboldf[(symboldf.exchange == 'NSE_EQ') & (symboldf.last_price.notnull()) & (symboldf.lot_size == 1) &  (symboldf.tick_size == 0.05) ]

# include only rows where the 'tradingsymbol' is in the 'stockList'
symboldf = symboldf[symboldf.tradingsymbol.isin(stockList)]
symboldf.reset_index(inplace=True,drop=True)
symboldf

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
0,NSE_EQ|INE358A01014,17903.0,ABBOTINDIA,ABBOTT INDIA LIMITED,28227.70,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
1,NSE_EQ|INE540L01014,11703.0,ALKEM,ALKEM LABORATORIES LTD.,5295.75,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
2,NSE_EQ|INE406A01037,275.0,AUROPHARMA,AUROBINDO PHARMA LTD,1443.30,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
3,NSE_EQ|INE376G01013,11373.0,BIOCON,BIOCON LIMITED.,356.10,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
4,NSE_EQ|INE059A01026,694.0,CIPLA,CIPLA LTD,1528.80,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
5,NSE_EQ|INE361B01024,10940.0,DIVISLAB,DIVI S LABORATORIES LTD,4991.25,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
6,NSE_EQ|INE089A01023,881.0,DRREDDY,DR. REDDY S LABORATORIES,6964.15,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
7,NSE_EQ|INE068V01023,1186.0,GLAND,GLAND PHARMA LIMITED,2126.65,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
8,NSE_EQ|INE935A01035,7406.0,GLENMARK,GLENMARK PHARMACEUTICALS,1443.05,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
9,NSE_EQ|INE101D01020,11872.0,GRANULES,GRANULES INDIA LIMITED,646.10,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
10,NSE_EQ|INE571A01038,1633.0,IPCALAB,IPCA LABORATORIES LTD,1300.30,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
11,NSE_EQ|INE572A01036,1726.0,JBCHEPHARM,J B CHEMICALS AND PHARMA,1927.35,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
12,NSE_EQ|INE947Q01028,19234.0,LAURUSLABS,LAURUS LABS LIMITED,447.10,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
13,NSE_EQ|INE326A01037,10440.0,LUPIN,LUPIN LIMITED,1961.50,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
14,NSE_EQ|INE634S01028,15380.0,MANKIND,MANKIND PHARMA LIMITED,2000.05,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
15,NSE_EQ|INE987B01026,3918.0,NATCOPHARM,NATCO PHARMA LTD.,1367.65,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
16,NSE_EQ|INE058A01010,1442.0,SANOFI,SANOFI INDIA LIMITED,6567.00,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
17,NSE_EQ|INE044A01036,3351.0,SUNPHARMA,SUN PHARMACEUTICAL IND L,1731.65,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
18,NSE_EQ|INE685A01028,3518.0,TORNTPHARM,TORRENT PHARMACEUTICALS L,3228.10,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
19,NSE_EQ|INE010B01027,7929.0,ZYDUSLIFE,ZYDUS LIFESCIENCES LTD,1249.90,NaT,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ

In [8]:
def getHistData(instrument):
    try:
        instrument = urllib.parse.quote(instrument)
        today = datetime.now()
        # Format today's date and the date 100 days ago
        to_date =datetime.strftime(today,'%Y-%m-%d')  
        from_date = datetime.strftime(today- timedelta(days=100),'%Y-%m-%d') 
        
        # Construct the URL for the API request
        url = f'https://api.upstox.com/v2/historical-candle/{instrument}/day/{to_date}/{from_date}' 
        
        # Make the API request and get the response as JSON
        candleRes = requests.get(url, headers={'accept': 'application/json'}).json()   
        
        # Convert the JSON response to a Pandas DataFrame
        candleData = pd.DataFrame(candleRes['data']['candles'])
        
        # Rename the columns of the DataFrame
        candleData.columns = ['date','open','high','low', 'close','vol','oi']
        candleData =  candleData[['date','open','high','low', 'close']]
        candleData['date'] = pd.to_datetime(candleData['date']).dt.tz_convert('Asia/Kolkata')
        candleData['date'] = candleData.apply(lambda x: x.date.date(), axis=1)
        candleData.sort_values(by = 'date', inplace=True)
        return candleData
    except Exception as e:
        print(f"Exception when calling HistoryApi->get_intra_day_candle_data {e}")

In [9]:
# Function to calculate relative strength

def calculate_relative_strength(base_symbol_close, comparative_symbol_close, length):
    
    # Calculate the relative price changes for the base symbol over the specified length
    base_relative = base_symbol_close / base_symbol_close.shift(length)
    comparative_relative = comparative_symbol_close / comparative_symbol_close.shift(length)

    # Calculate the relative strength between the base and comparative symbols
    relative_strength = base_relative / comparative_relative -1 
    
    # Round the relative strength to 2 decimal places
    relative_strength_rounded = relative_strength.round(2)
    return relative_strength_rounded

In [10]:
# Get historical data for Nifty 500 and Nifty Pharma indices
indexData = getHistData('NSE_INDEX|Nifty 500')
sectorData = getHistData('NSE_INDEX|Nifty Pharma')
#sectorData = getHistData('NSE_INDEX|Nifty PSU Bank')
filterList = []
for i in  symboldf.index:
    try:
        symInfo = symboldf.loc[i]
        symbolName =symInfo['tradingsymbol']
        
        stockCandleData = getHistData(symInfo['instrument_key'])
        # Merge stock data with index data
        finalData = stockCandleData.merge(indexData[['date','close']],on = 'date',how='left',suffixes=("", "_index"))
        # Merge the result with sector data
        finalData = finalData.merge(sectorData[['date','close']],on = 'date',how='left',suffixes=("", "_sector"))
        
        # Calculate relative strength compared to index and sector
        finalData['RS_INDEX'] = calculate_relative_strength(finalData['close'], finalData['close_index'], length=50)
        finalData['RS_SECTOR'] = calculate_relative_strength(finalData['close'], finalData['close_sector'], length=50)
        
        # Get the most recent data
        recentData = finalData.iloc[-1]
        recentData.loc['sym'] = symbolName
        
        # Append the recent data to the filter list
        filterList.append(recentData)
        
    except Exception as e :
        print(f"Error in {symboldf.loc[i].to_dict()}")
        traceback.print_exc()

In [11]:
# Convert the filter list to a DataFrame

sectorRSdf = pd.DataFrame(filterList)
sectorRSdf

,date,open,high,low,close,close_index,close_sector,RS_INDEX,RS_SECTOR,sym
66,2024-08-02,28387.00,28702.95,27940.00,28227.70,23259.45,21902.85,-0.02,-0.05,ABBOTINDIA
66,2024-08-02,5200.00,5344.45,5200.00,5295.75,23259.45,21902.85,-0.09,-0.12,ALKEM
66,2024-08-02,1422.10,1450.80,1419.05,1443.30,23259.45,21902.85,0.08,0.04,AUROPHARMA
66,2024-08-02,350.15,362.70,348.05,356.10,23259.45,21902.85,0.06,0.02,BIOCON
66,2024-08-02,1529.00,1541.40,1523.70,1528.80,23259.45,21902.85,-0.06,-0.09,CIPLA
66,2024-08-02,4861.70,5010.00,4839.10,4991.25,23259.45,21902.85,0.12,0.08,DIVISLAB
66,2024-08-02,6881.00,6981.00,6874.45,6964.15,23259.45,21902.85,0.08,0.05,DRREDDY
66,2024-08-02,2088.00,2147.00,2073.50,2126.65,23259.45,21902.85,0.08,0.05,GLAND
66,2024-08-02,1436.00,1452.35,1415.05,1443.05,23259.45,21902.85,0.29,0.24,GLENMARK
66,2024-08-02,626.25,649.90,622.10,646.10,23259.45,21902.85,0.38,0.34,GRANULES
66,2024-08-02,1288.60,1313.15,1280.05,1300.30,23259.45,21902.85,-0.10,-0.13,IPCALAB
66,2024-08-02,1896.00,1962.00,1894.25,1927.35,23259.45,21902.85,0.03,-0.00,JBCHEPHARM
66,2024-08-02,445.00,453.60,437.00,447.10,23259.45,21902.85,-0.11,-0.14,LAURUSLABS
66,2024-08-02,1949.50,1984.00,1935.00,1961.50,23259.45,21902.85,0.04,0.01,LUPIN
66,2024-08-02,1988.00,2008.55,1960.25,2000.05,23259.45,21902.85,-0.13,-0.16,MANKIND
66,2024-08-02,1349.05,1372.45,1332.00,1367.65,23259.45,21902.85,0.24,0.20,NATCOPHARM
66,2024-08-02,6585.00,6643.90,6545.00,6567.00,23259.45,21902.85,-0.33,-0.35,SANOFI
66,2024-08-02,1700.00,1741.80,1683.85,1731.65,23259.45,21902.85,0.03,-0.01,SUNPHARMA
66,2024-08-02,3190.00,3275.50,3179.40,3228.10,23259.45,21902.85,0.11,0.07,TORNTPHARM
66,2024-08-02,1233.45,1259.75,1227.70,1249.90,23259.45,21902.85,0.06,0.02,ZYDUSLIFE

In [12]:
# Calculate the rank by summing RS_INDEX and RS_SECTOR

sectorRSdf['rank'] = sectorRSdf['RS_INDEX'] + sectorRSdf['RS_SECTOR']
sectorRSdf

,date,open,high,low,close,close_index,close_sector,RS_INDEX,RS_SECTOR,sym,rank
66,2024-08-02,28387.00,28702.95,27940.00,28227.70,23259.45,21902.85,-0.02,-0.05,ABBOTINDIA,-0.07
66,2024-08-02,5200.00,5344.45,5200.00,5295.75,23259.45,21902.85,-0.09,-0.12,ALKEM,-0.21
66,2024-08-02,1422.10,1450.80,1419.05,1443.30,23259.45,21902.85,0.08,0.04,AUROPHARMA,0.12
66,2024-08-02,350.15,362.70,348.05,356.10,23259.45,21902.85,0.06,0.02,BIOCON,0.08
66,2024-08-02,1529.00,1541.40,1523.70,1528.80,23259.45,21902.85,-0.06,-0.09,CIPLA,-0.15
66,2024-08-02,4861.70,5010.00,4839.10,4991.25,23259.45,21902.85,0.12,0.08,DIVISLAB,0.20
66,2024-08-02,6881.00,6981.00,6874.45,6964.15,23259.45,21902.85,0.08,0.05,DRREDDY,0.13
66,2024-08-02,2088.00,2147.00,2073.50,2126.65,23259.45,21902.85,0.08,0.05,GLAND,0.13
66,2024-08-02,1436.00,1452.35,1415.05,1443.05,23259.45,21902.85,0.29,0.24,GLENMARK,0.53
66,2024-08-02,626.25,649.90,622.10,646.10,23259.45,21902.85,0.38,0.34,GRANULES,0.72
66,2024-08-02,1288.60,1313.15,1280.05,1300.30,23259.45,21902.85,-0.10,-0.13,IPCALAB,-0.23
66,2024-08-02,1896.00,1962.00,1894.25,1927.35,23259.45,21902.85,0.03,-0.00,JBCHEPHARM,0.03
66,2024-08-02,445.00,453.60,437.00,447.10,23259.45,21902.85,-0.11,-0.14,LAURUSLABS,-0.25
66,2024-08-02,1949.50,1984.00,1935.00,1961.50,23259.45,21902.85,0.04,0.01,LUPIN,0.05
66,2024-08-02,1988.00,2008.55,1960.25,2000.05,23259.45,21902.85,-0.13,-0.16,MANKIND,-0.29
66,2024-08-02,1349.05,1372.45,1332.00,1367.65,23259.45,21902.85,0.24,0.20,NATCOPHARM,0.44
66,2024-08-02,6585.00,6643.90,6545.00,6567.00,23259.45,21902.85,-0.33,-0.35,SANOFI,-0.68
66,2024-08-02,1700.00,1741.80,1683.85,1731.65,23259.45,21902.85,0.03,-0.01,SUNPHARMA,0.02
66,2024-08-02,3190.00,3275.50,3179.40,3228.10,23259.45,21902.85,0.11,0.07,TORNTPHARM,0.18
66,2024-08-02,1233.45,1259.75,1227.70,1249.90,23259.45,21902.85,0.06,0.02,ZYDUSLIFE,0.08

### The Top most stock is with most momentum in that perticular sector

In [13]:
# Sort the DataFrame by rank in descending order

sectorRSdf.sort_values(by = 'rank',ascending=False)

,date,open,high,low,close,close_index,close_sector,RS_INDEX,RS_SECTOR,sym,rank
66,2024-08-02,626.25,649.90,622.10,646.10,23259.45,21902.85,0.38,0.34,GRANULES,0.72
66,2024-08-02,1436.00,1452.35,1415.05,1443.05,23259.45,21902.85,0.29,0.24,GLENMARK,0.53
66,2024-08-02,1349.05,1372.45,1332.00,1367.65,23259.45,21902.85,0.24,0.20,NATCOPHARM,0.44
66,2024-08-02,4861.70,5010.00,4839.10,4991.25,23259.45,21902.85,0.12,0.08,DIVISLAB,0.20
66,2024-08-02,3190.00,3275.50,3179.40,3228.10,23259.45,21902.85,0.11,0.07,TORNTPHARM,0.18
66,2024-08-02,6881.00,6981.00,6874.45,6964.15,23259.45,21902.85,0.08,0.05,DRREDDY,0.13
66,2024-08-02,2088.00,2147.00,2073.50,2126.65,23259.45,21902.85,0.08,0.05,GLAND,0.13
66,2024-08-02,1422.10,1450.80,1419.05,1443.30,23259.45,21902.85,0.08,0.04,AUROPHARMA,0.12
66,2024-08-02,1233.45,1259.75,1227.70,1249.90,23259.45,21902.85,0.06,0.02,ZYDUSLIFE,0.08
66,2024-08-02,350.15,362.70,348.05,356.10,23259.45,21902.85,0.06,0.02,BIOCON,0.08
66,2024-08-02,1949.50,1984.00,1935.00,1961.50,23259.45,21902.85,0.04,0.01,LUPIN,0.05
66,2024-08-02,1896.00,1962.00,1894.25,1927.35,23259.45,21902.85,0.03,-0.00,JBCHEPHARM,0.03
66,2024-08-02,1700.00,1741.80,1683.85,1731.65,23259.45,21902.85,0.03,-0.01,SUNPHARMA,0.02
66,2024-08-02,28387.00,28702.95,27940.00,28227.70,23259.45,21902.85,-0.02,-0.05,ABBOTINDIA,-0.07
66,2024-08-02,1529.00,1541.40,1523.70,1528.80,23259.45,21902.85,-0.06,-0.09,CIPLA,-0.15
66,2024-08-02,5200.00,5344.45,5200.00,5295.75,23259.45,21902.85,-0.09,-0.12,ALKEM,-0.21
66,2024-08-02,1288.60,1313.15,1280.05,1300.30,23259.45,21902.85,-0.10,-0.13,IPCALAB,-0.23
66,2024-08-02,445.00,453.60,437.00,447.10,23259.45,21902.85,-0.11,-0.14,LAURUSLABS,-0.25
66,2024-08-02,1988.00,2008.55,1960.25,2000.05,23259.45,21902.85,-0.13,-0.16,MANKIND,-0.29
66,2024-08-02,6585.00,6643.90,6545.00,6567.00,23259.45,21902.85,-0.33,-0.35,SANOFI,-0.68